/* Style for Extra Large Screen */
@media (max-width: 3920px) {
    .square-responsive {
      font-family: "Roboto" !important; 
      /* font-weight: 400 !important; */
      font-weight: lighter;
      background-color: #266BBD !important;
      color: #FFFFFF !important;
      width: 350px !important;
      height: 150px !important;
      margin-top: 0px !important;
      font-size: 50px;
      margin: 0px 0px 100px 100px;
      border-radius: 0px !important;
    }
  }

/*Style for Title Main Page*/
  @media (max-width:3920px){
    .title {
      text-align: left;
      font-size: 25px;
      margin-left: 164px;
      margin-top: 100px !important;
      color: #266BBD;
      font-family: "Noto Sans";
    }
  }
/*Style for Title Main Page*/
@media (max-width:3920px){
  .subtitle {
    text-align: left;
    font-size: 25px;
    margin-left: 164px;
    margin-top: 25px !important;

    color: #002750;
    font-family: "Noto Sans";
  }
}