.map-page-map {
    position: absolute;
    width: 744px;
    height: 468px;
    left: 164px;
    top: 455px;
}

.map-page-sb {
    box-sizing: border-box;

    position: absolute;
    width: 744px;
    height: 45px;
    left: 164px;
    top: 325px;
    mix-blend-mode: normal;
    border: 2px solid #C5C8CC;
}

.map-page-search-icon {
    position: absolute;
    width: 77px;
    height: 76px;
    scale: 0.6;
    left: 846px;
    top: 310px;
}

.map-page-list {
    position: absolute;
    width: 481px;
    height: 81px;
    left: 700px;
    top: 450px;
}

.list-group {
    --bs-list-group-border-color: none !important;
}