.map-page-title {
    position: absolute;
    height: 65px;
    left: 164px;
    top: 136px;

    font-family: 'Noto Sans';
    font-style: 'normal';
    font-weight: 400;
    font-size: 25px;
    line-height: 65px;
    color: #266BBD;
}
.map-page-des {
    position: absolute;
    width: 744px;
    height: 66px;
    left: 164px;
    top: 200px;
    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    text-align: left;
    line-height: 33px;
    
    color: #002750;
    
} 

.map-page-map {
    position: absolute;
    width: 744px;
    height: 468px;
    left: 164px;
    top: 455px;
}