.qr-rbc-logo {
    position: absolute;
    width: 217px;
    height: 279px;
    scale: 0.5;
    left:0;
    top: 0px;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.qr-side {
    position: fixed;
    width: 416px;
    height: 1080px;
    left: 1080px;
    top: 0px;

    background: #EEEEEE;
}

.qr-code {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0px;
    right: 0px;
    margin-left:auto;
    margin-right:auto;
    top: 600px;
}

.qr-backgroud {
    position: absolute;
    width: 271px;
    height: 271px;
    left: 0px;
    right: 0px;
    margin-left:auto;
    margin-right:auto;
    top: 450px;

    background: #FFFFFF;
    border-radius: 50px;
}
.qr-text {
    position: absolute;
    width: 271px;
    height: 64px;
    left: 0px;
    right: 0px;
    top: 500px;
    margin-left:auto;
    margin-right:auto;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    
    color: #000000;
}